html {
  /* font-size: 10px; */

  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;

  /* Does NOT work on Safari */
  /* scroll-behavior: smooth; */
}
.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 6.4rem;
  margin-bottom: 9.6rem;
}