<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Omnifood is an AI-powered food subscription that will make you eat healthy again, 365 days per year. It's tailored to your personal tastes and nutritional needs."
    />
    <title>Kunal - Developer Portfolio</title>
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/projects.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/queries.css"/>
    <style>
      #myBtn {
        display: none;
        position: fixed;
        bottom: 20px;
        right: 30px;
        z-index: 99;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 15px;
        border-radius: 4px;
      }

      #myBtn:hover {
        background-color: #555;
      }
    </style>
  </head>
  <body>
    <header class="header">
      <title>Kunal's Portfolio</title>
      <a href="#">
        <img class="logo" src="/img/logo.png" alt="Kunal's Portfolio" />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li><a class="main-nav-link" href="index.html">Home</a></li>
          <li><a class="main-nav-link" href="about.html">About</a></li>
          <li><a class="main-nav-link" href="index.html#Experience">Experience</a></li>
          <li><a class="main-nav-link" href="projects.html">Projects</a></li>
          <li><a class="main-nav-link" href="index.html#Contact">Contact Me</a></li>
        </ul>
      </nav>
      <button class="btn-mobile-nav">
        <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
        <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
      </button>
    </header>
    <br><br><br><br><br><br>
    <main>
      <section>
        <section id="projects" class="projects-section">
          <h2 class="projects-section-header">My Projects</h2>
          <div class="projects-grid">
            <a href="https://github.com/kunzbhatia/Omnifood-Project" target="_blank" class="project project-tile">
              <img class="project-image" src="/img/omnifood.png" alt="project">
              <p class="project-title">
                <span class="code">Omnifood-Project</span>
              </p>
            </a>
            <a href="https://github.com/kunzbhatia/Library-Management-System" target="_blank" class="project project-tile">
              <img class="project-image" src="/img/library.png" alt="project">
              <p class="project-title">
                <span class="code">Library-Management-System</span>
              </p>
            </a>
            <a href="https://github.com/kunzbhatia/Audizi-Emoplayer-Website" target="_blank" class="project project-tile">
              <img class="project-image" src="/img/audizi.png" alt="project">
              <p class="project-title">
                <span class="code">Audizi-Emoplayer-Website</span>
              </p>
            </a>
            <a href="https://github.com/kunzbhatia/Heart-Disease-Prediction" target="_blank" class="project project-tile">
              <img class="project-image" src="/img/heart.png" alt="project">
              <p class="project-title">
                <span class="code">Heart-Disease-Prediction</span>
              </p>
            </a>
            <a href="https://github.com/kunzbhatia/MontyPython-Snake-Game" target="_blank" class="project project-tile">
              <img class="project-image" src="/img/snakegame.png" alt="project">
              <p class="project-title">
                <span class="code">MontyPython-Snake-Game</span>
              </p>
            </a>
            <a href="https://github.com/kunzbhatia/API-Weather-Python-Tkinter-Program" target="_blank" class="project project-tile">
              <img class="project-image" src="/img/Weather.png" alt="project">
              <p class="project-title">
                <span class="code">API-Weather-Python-Tkinter-Program</span>
              </p>
            </a>
          </div>
    
          <a href="https://github.com/kunzbhatia" class="btn btn-show-all" target="_blank">Show all<i class="fas fa-chevron-right"></i></a>
        </section>
    
    
      </section>

    </main>





    <footer>
      <div class="footer">
        <div class="footer-flex">
          <div class="logo-col">
            <a href="#" class="footer-logo">
              <img class="footer-logo" alt="Kunal's Portfolio" src="/img/logo.png" style="width: 150px;" />
            </a>
  
            <ul class="social-links">
              <li>
                <a class="footer-link" href="https://www.instagram.com/_kunalbhatia_/" target="_blank"
                ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
                ></a>
              </li>
              <li>
                <a class="footer-link" href="https://www.facebook.com/kunal.bhatia.984991"  target="_blank"
                  ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
                ></a>
              </li>
              <li>
                <a class="footer-link" href="https://www.linkedin.com/in/kunal-bhatia-6a23b6228/" target="_blank"
                  ><ion-icon class="social-icon" name="logo-linkedin"></ion-icon
                ></a>
              </li>
            </ul>
  
            <p class="copyright">
              Copyright &copy; <span class="year">2023</span><br>
              kunalsportfolio.com | All Rights Reserved
            </p>
          </div>
  
          <div class="address-col">
            <p class="footer-heading" id="Contact">Contact Me</p>
            <address class="contacts">
              <p class="address">Lbs marg,Bhandup west</p>
                <a class="footer-link" href="tel:8450935995">8450935995</a
                ><br />
                <a class="footer-link" href="mailto:kunalbhatiaofficial@gmail.com"
                  >kunalbhatiaofficial@gmail.com</a
                >
              </p>
              <form class="form" name="sign-up" netlify>
                <div>
                  <label for="full-name">Your Full Name</label>
                  <input
                    id="full-name"
                    type="text"
                    placeholder="Rajeev Bhatia"
                    name="full-name"
                    required
                  />
                </div>

                <div>
                  <label for="email">Email address</label>
                  <input
                    id="email"
                    type="email"
                    placeholder="me@example.com"
                    name="email"
                    required
                  />
                </div>

                <div>
                  <label for="select-where">Any Feedback to my profile?</label>
                  <input
                    id="feedback"
                    type="feeback"
                    placeholder="My feedback is..."
  
                  />
                </div>

                <button class="button">Contact Me</button>

                <!-- <input type="checkbox" />
                <input type="number" /> -->
              </form>
            </address>
          </div>
  
          <nav class="nav-col">
            <p class="footer-heading">Top Achievements</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">Topped in Text Mining</a></li>
              <li><a class="footer-link" href="#">E-Business Certification</a></li>
              <li><a class="footer-link" href="#">IBM Internship Certification</a></li>
            </ul>
          </nav>
  
          <nav class="nav-col">
            <p class="footer-heading">Top Skills</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="#">Frontend Dev</a></li>
              <li><a class="footer-link" href="#">Python and Data Science</a></li>
              <li><a class="footer-link" href="#">MySQL </a></li>
            </ul>
          </nav>
  
          <nav class="nav-col">
            <p class="footer-heading">Top Projects</p>
            <ul class="footer-nav">
              <li><a class="footer-link" href="https://github.com/kunzbhatia/Audizi-Emoplayer-Website">Audizi:Emoplayer</a></li>
              <li><a class="footer-link" href="https://github.com/kunzbhatia/Heart-Disease-Prediction">Heart Disease Prediction</a></li>
              <li><a class="footer-link" href="https://github.com/kunzbhatia/Omnifood-Project">Omnifood Website</a></li>
            </ul>
          </nav>
        </div>
      </div>
      <div
        class="footer-rights"
        style="text-align: center; color: gray; padding: 12px 0;margin-bottom: 0px;"
      >
        Made Using HTML,CSS,JS by Kunal Bhatia
      </div>
    </footer>

    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <script src="https://unpkg.com/typed.js@2.0.16/dist/typed.umd.js"></script>

    <!-- Setup and start animation! -->
    <script>
      var typed = new Typed("#element", {
        strings: [
          "&Full Stack Developer",
          "&Python Enthusiast",
          "&Data Science Enthusiast",
          "&Want to Learn and Grow",
        ],
        typeSpeed: 50,
      });
    </script>
    <script src="/js/script.js"></script>
    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script
    type="module"
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule=""
    src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
  ></script>
  <script
    defer
    src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
  ></script>
</html>